{% extends "base.html" %} {% block stylesheets %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
{% endblock %} {% block title %}Home{% endblock %} {% block content %}
<section class="container-box">
  <ul class="list-group" id="expense-box">
    <li class="list-group-item active">Expenses</li>
    <li class="list-group-item">{{ total_expenses }}</li>
    <button id="addexpense-btn" class="btn btn-default">
      <i class="fa-solid fa-plus fa-beat" style="color: #ffffff"></i>
    </button>
  </ul>
  <ul class="list-group" id="income-box">
    <li class="list-group-item active">Income</li>
    <li class="list-group-item">{{ total_income }}</li>
    <button id="addincome-btn" class="btn btn-default">
      <i class="fa-solid fa-plus fa-beat" style="color: #ffffff"></i>
    </button>
  </ul>
  <div>
    <canvas id="totalMoneyChart"></canvas>
  </div>
  <div>
    <canvas id="bankChart"></canvas>
  </div>
</section>

<div id="addexpensemodal" class="modal">
  <div class="modal-content">
    <span class="close close-btn">&times;</span>
    <form method="POST">
      <div class="inputDiv">
        <h5>Expense Name</h5>
        <textarea
          name="transactionname"
          id="transactionname"
          class="form-control"
        ></textarea>
        <h5>Amount</h5>
        <input type="text" name="currency-field" id="amount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
        <div>
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required />
        </div>
        <div>
          <label for="category">Category:</label>
          <select id="category" name="category">
            <option value="">Select an existing category</option>
            <option value="food">Food and Dining</option>
            <option value="transportation">Transportation</option>
            <option value="housing">Housing</option>
            <option value="health">Health and Wellness</option>
            <option value="entertainment">Entertainment</option>
            <option value="travel">Travel</option>
            <option value="personal_care">Personal Care</option>
            <option value="education">Education</option>
            <option value="gifts">Gifts and Donations</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <div>
          <label for="custom_category">Or enter a custom category:</label>
          <input type="text" id="custom_category" name="custom_category" />
        </div>
        <div>
          <label for="payment_method">Payment Method:</label>
          <select
            id="payment_method"
            name="payment_method">
            <option value="cash" selected>Cash</option>
            <option value="bank">Bank</option>
          </select>
        </div>
        <div id="bank_select_div_expense" style="display: none">
          <label for="bank">Bank:</label>
          <select id="bank_expense" name="bank">
            <option value="">Select a bank</option>
            {% for bank in banks %}
            <option value="{{ bank.id }}">{{ bank.bankname }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="cash_select_div_expense">
          <label for="cash">Cash Source:</label>
          <select id="cash_expense" name="cash">
            <option value="">Select a cash source</option>
            {% for cash_source in cash_sources %}
            <option value="{{ cash_source.id }}">
              {{ cash_source.cashname }}
            </option>
            {% endfor %}
          </select>
        </div>
        <input type="hidden" name="transaction_type" value="Expense" />
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<div id="addincomemodal" class="modal">
  <div class="modal-content">
    <span class="closein close-btn">&times;</span>
    <form method="POST">
      <div class="inputDiv">
        <h5>Income</h5>
        <textarea
          name="transactionname"
          id="transactionname"
          class="form-control"
        ></textarea>
        <h5>Amount</h5>
        <input type="text" name="currency-field" id="amount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
        <div>
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required />
        </div>
        <div>
          <label for="category">Category:</label>
          <select id="category" name="category">
            <option value="">Select an existing category</option>
            <option value="job">JOB</option>
            <option value="transportation">Transportation</option>
            <option value="housing">Housing</option>
          </select>
        </div>
        <div>
          <label for="custom_category">Or enter a custom category:</label>
          <input type="text" id="custom_category" name="custom_category" />
        </div>
        <div>
          <label for="payment_method">Payment Method:</label>
          <select
            id="payment_method"
            name="payment_method">
            <option value="cash" selected>Cash</option>
            <option value="bank">Bank</option>
          </select>
        </div>
        <div id="bank_select_div_income" style="display: none">
          <label for="bank">Bank:</label>
          <select id="bank_income" name="bank">
            <option value="">Select a bank</option>
            {% for bank in banks %}
            <option value="{{ bank.id }}">{{ bank.bankname }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="cash_select_div_income">
          <label for="cash">Cash Source:</label>
          <select id="cash_income" name="cash">
            <option value="">Select a cash source</option>
            {% for cash_source in cash_sources %}
            <option value="{{ cash_source.id }}">
              {{ cash_source.cashname }}
            </option>
            {% endfor %}
          </select>
        </div>
        <input type="hidden" name="transaction_type" value="Income" />
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<section class="filter-options">
  <label for="filter">Filter by:</label>
  <select id="filter" name="filter">
    <option value="all">All</option>
    <option value="month">Month</option>
    <option value="week">Week</option>
    <option value="day">Day</option>
    <option value="range">Range</option>
  </select>
  <input
    type="date"
    id="start-date"
    name="start-date"
    style="display: none"
    placeholder="Start Date"
  />
  <input
    type="date"
    id="end-date"
    name="end-date"
    style="display: none"
    placeholder="Start Date"
  />
  <button id="filter-button" class="btn btn-primary">Filter</button>
</section>

<section class="container-table table-responsive">
  <table id="data" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for money in transactions %}
      <tr
        class="{% if money.transaction_type == 'Expense' %}expense{% elif money.transaction_type == 'Income' %}income{% endif %}"
      >
        <td>{{ money.transaction_id }}</td>
        <td>{{ money.transaction_name }}</td>
        <td>{{ money.amount }}</td>
        <td>{{ money.category }}</td>
        <td>{{ money.date }}</td>
        <td>{{ money.transaction_type }}</td>
        <td>
          <button
            class="btn btn-danger"
            onclick="deleteTransaction({{ money.id }})"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
